#weather-block{
justify-content: center;
text-align: center;
}

#weather-block-location {
font-weight: bold;
font-size: x-large;
}

#weather-block-country {
    font-weight: bold;
    font-size: x-large;
    }