#weather-block{
justify-content: center;
text-align: center;
padding: 2%;
}

#weather-block-location {
font-weight: 900;
font-size: large;
margin-bottom: 20px;
}

#weather-block-country {
    font-weight: bold;
    font-size: large;
}

.location-block{
    background-color: rgb(216, 212, 212);
}

.text-center{
    justify-content: center;
}

.weather-date{
    background-color: rgb(197, 190, 190);
    border-bottom: solid;
    font-weight: bold;
    font-size: x-large;
    color: rgb(70, 161, 204);
}

.weather-condition {
    font-weight: bolder;
    font-size: larger;
}

.weather-temp{
    font-weight: bolder;
    font-size: larger;
}

#current-weather-icon-div img,
#two-weather-icon-div img,
#three-weather-icon-div img {
    width: 100px;  
    height: auto;  
}

#current-weather-temp-div,
#two-weather-temp-div,
#three-weather-temp-div {
    padding-bottom: 15px;
}

#current-weather-condition-div,
#two-weather-condition-div,
#three-weather-condition-div {
    padding-top: 15px;
}

#current-weather-col,
#two-weather-col,
#three-weather-col{
    background-color: rgb(200, 206, 230);
}