:root {
  --primary: black;
  --secondary: rgb(229, 229, 229);
}
body {
  background-color: var(--primary);
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body {
  padding: 20px;
  width: 100%;
  height: 100%;
}
#day {
  width: 300px;
  text-align: start;
  font-size: 1.5rem;
  margin: 0px 10px 0px 20px;
  color: var(--secondary);
  font-family: 'Bangers', cursive;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  transform-style: preserve-3d;
  transform: perspective(250px) rotate(0deg);
}
h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0px 10px;
  color: var(--secondary);
  font-family: 'Bangers', cursive;
  text-shadow: 0 0 5px var(--secondary);
  display: block;
  position: relative;
  animation: animate 5s ease-in-out infinite;
}
h2 {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
}
@keyframes animate {
  0% {
    transform: translateZ(100px);
    width: 100%;
    height: 100%;
    color: blue;
  }
  25% {
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
    color: blueviolet;
  }
  50% {
    transform: translateZ(100px);
    width: 100%;
    height: 100%;
    color: red;
  }
  75% {
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
    color: blueviolet;
  }
  100% {
    transform: translateZ(100px);
    width: 100%;
    height: 100%;
    color: blue;
  }
}
#time {
  width: 300px;
  text-align: end;
  font-size: 1.5rem;
  margin: 0px 20px 0px 10px;
  color: var(--secondary);
  font-family: 'Bangers', cursive;
}
#left-side, #center, #right-side {
  height: 100%;
}
.box {
  background-color: var(--secondary);
}
.movies {
  margin: 10px 0px;
}
#weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
#weather div {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
#weather div p {
  font-size: 0.75rem;
}
.weather-date {
  font-size: 1rem;
  font-family: 'Bangers', cursive;
}
#news-input, #news-button, #movies-input, #movies-button {
  padding: 5px;
  margin: 2px !important;
  font-size: 1.25rem;
  border-radius: 8px;
}
#news-button, #movies-button {
  font-family: 'Bangers', cursive;
  background-color: var(--primary);
  color: var(--secondary);
}
@media screen and (max-width: 860px) {
  #day, #time {
    width: 200px;
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #news-input, #news-button, #movies-input, #movies-button {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #day, #time {
    width: 100px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  #day, #time {
    width: 75px;
    font-size: 0.75rem;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h6 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondary);
  font-family: 'Bangers', cursive;
  text-shadow: 0 0 2.5px var(--secondary);
}